<?xml version="1.0" encoding="UTF-8" ?>
<!-- dtd约束 -->
<!DOCTYPE configuration
        PUBLIC "-//MyBatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根元素: 用于配置MyBatis -->
<configuration>
    <!-- 配置MyBatis的运行环境 ,可以配置多个环境,但是一次只能使用一个
        default属性 : 当前使用的环境 ,使用下面环境的id 即可  -->
    <environments default="dev_mysql">
        <!-- 环境配置  id 属性,唯一标识当前环境 -->
        <environment id="dev_mysql">
            <!-- 配置MyBatis事务管理器
                type属性 :  事物类型
                    JDBC  使用事务(正常提交commit,异常回滚事务 rollback) 默认
                    MANAGED : 不使用事务
              -->
            <transactionManager type="JDBC"/>
            <!-- 配置MyBatis的数据源
                type : 配置连接池
                    POOLED :MyBatis内置的一个连接池(默认)
                    后期都交给spring管理了,配置 dbcp连接池,阿里巴巴的 druid连接池
             -->
            <dataSource type="POOLED">
                <!-- 连接数据库的操作 -->
                <!-- 数据库驱动 -->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!-- 连接数据库的url -->
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <!-- 连接数据库账号 -->
                <property name="username" value="root"/>
                <!-- 连接数据库密码 -->
                <property name="password" value="123"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 配置映射文件 -->
    <mappers>
        <!-- <mapper resource="com/ewater/mapper/UserMapper.xml"/>--> <!--指定一个配置文件-->
        <!--<package name="com.ewater.mapper"/>--> <!-- 指定一个包，包含多个配置文件或者配置类，推荐 -->
        <mapper class="com.ewater.mapper.UserMapper" /> <!-- 指定一个配置类 -->
    </mappers>
</configuration>